<p id="profile-link">Share your story: 
    <a href="<%= @user.public_profile_url %>" style="padding-right: 5px;">
        <%= @user.public_profile_url %>
    </a> 
    
    (<a href="mailto:?subject=Here's my personal story&body=<%= @user.public_profile_url %>" style="font-weight: bold;"><i data-feather="share-2" style="height:16px;"></i>share</a> )
</p>