<div class="mt-4">
  <div class="row">
    <div class="col-12">
      <div>
        <%= render partial: "profiles/form" %>
      </div>
      <p>Share your profile: <a href="//<%= @user.public_profile_url %>" target="_blank"><%= @user.public_profile_url %></a></p>
      <div class="card">
        <div class="card-body">
          <%= render(partial: "dashboard/story/show_user_stories") %>
        </div>
      </div>
    </div>
  </div>
</div>