<div class="mt-4">
  <div class="row">
    <div class="col-12">
      <%= render partial: "dashboard/profile_links" %>  
      <p class="small font-weight-bold text-danger">Click the share link above to print, download and email your story.</p>
      
      <div class="card mt-4">
        <div class="card-body">
          <%= render(partial: "dashboard/story/show_user_stories") %>
          <p class="mt-4 text-danger">If you want help writing your story, email <a href="mailto:Significance.Project@Cru.org?subject=I'd like some help writing my story&body=Tell us what exactly you need help with. :)">Significance.Project@Cru.org</a>
        </div>
      </div>
    </div>
  </div>
</div>
