<div class="mt-4">
  <div class="row">
    <div class="col-12">
      <div>
        <%= render partial: "profiles/form" %>
      </div>
      
      <% if @publication %>
        <%= render partial: "dashboard/profile_links" %>
      <% else %>
        <p class="small">You'll see your profile link here after successful publication :).</p>
      <% end %>
      
      <div class="card mt-4">
        <div class="card-body">
          <%= render(partial: "dashboard/story/show_user_stories") %>
          <p class="mt-4 text-danger">If you want help writing your story, email <a href="mailto:Significance.Project@Cru.org?subject=I'd like some help writing my story&body=Tell us what exactly you need help with. :)">Significance.Project@Cru.org</a>
        </div>
      </div>
    </div>
  </div>
</div>
