<%= form_with model: @profile, id: "public-access" do |f| %>
    <%= f.label :blank, class: "switch s-outline s-outline-default mr-2" do %>
        <span class="font-weight-bold">Enable your public profile:</span>
        <%= f.check_box :public_access %>
        
    <% end %>

<% end %>


<%= javascript_tag do %>
    $("form#public-access input[type=checkbox]").on("click", function() {
        Rails.fire(this.form, "submit");
    }) 
<% end %>