<li class="nav-item dropdown user-profile-dropdown order-lg-0 order-1">
  <%= link_to("javascript:void(0);", class: "nav-link dropdown-toggle user", id: "user-profile-dropdown", data: { toggle: "dropdown" }) do %>
    <div class="media">
      <% #= image_tag("cork/profile.jpg", class: "img-fluid") %>
      <i data-feather="user" class="mr-2" style="width: 25px; height: 25px;"></i>
      <div class="media-body align-self-center">
        <h6><span>Welcome</span> <%= display_users_first_name %></h6>
      </div>
    </div>
    <i data-feather="chevron-down"></i>
  <% end %>

  <div class="dropdown-menu position-absolute animated fadeInUp">
    <div class="">
      <div class="dropdown-item">
        <%= link_to(edit_user_registration_path) do %>
          <i data-feather="user"></i>
          My Profile
        <% end %>
      </div>
      <div class="dropdown-item">
        <%= link_to(destroy_user_session_path, method: "delete") do %>
          <i data-feather="log-out"></i>
          Sign Out
        <% end %>
      </div>
    </div>
  </div>
</li>