<li class="registration-links">
  <%= link_to("Sign In", new_user_session_path, style: "font-weight: bolder; color: #ff7e51; text-decoration: underline; margin-left: 22px;") %> &nbsp; / &nbsp; <%= link_to("Start Now", new_user_registration_path, style: "text-decoration: underline; margin-left: 0;") %>
</li>
