<div class="footer-wrapper pl-0 pr-0 mt-4">
  <div class="footer-section f-section-1">
    <p class="mb-2" style="font-weight:normal;">My Story Booklet is a resource of Cru/Campus Crusade. For life-coaching evangelistic courses  QUEST and SOARING and discipleship courses Significant Woman and Man of Impact see crustore.org for print version or Amazon for Kindle versions.</p>
    <p class="">Copyright © <%= Time.now.year %> <a target="_blank" href="https://thesignificantwoman.com">The Significance Project</a></p>
  </div>
  <div class="footer-section f-section-2">
  </div>
</div>
