<div id="landing-page" class="row align-items-center layout-top-spacing layout-spacing">
  <div class="col-12 col-sm-6">
    <h1 class="font-weight-bolder">Share your story with others.</h1>
    <p class="lead">Let your story be a vessel that leads people to Christ.</p>
    <p class="lead">Build a personalized copy of the booklet and share with those around you.</p>
  </div>

  <div id="hero-container" class="col-12 col-sm-5 ml-auto">
    <div>
      <!-- TODO: Add an image here on the right. -->
      <% #= image_tag("hero.png", class: "img-fluid w-100") %>
    </div>
  </div>
</div>

<hr style="border:1px solid; color: #acb0c3">