<div class="row layout-top-spacing">

  <div class="layout-spacing" style="min-height: 550px;">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-sm-6">
          <h2>Conduct more customer conversions with confidient in a better way.</h2>
          <p class="lead">Start boosting your business conversion rates with curated designs SEO first development</p>
        </div>

        <div class="col-12 col-sm-5 ml-auto">
          <div class="hero-figure">
            <%= image_tag("", class: "img-fluid w-100") %>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>