<div class="container">
    <div class="row vh-100">
        <div class="col-12 align-self-center mr-auto ml-auto" style="max-width: 480px;">
            <div class="card">
                <div class="card-body">
                    <div class="text-center mb-5">
                        <h1>Sign In</h1>
                        <p>Log in to your account to continue.</p>
                    </div>

                    <form action="">
                      <div>
                        <label class="font-weight-bold text-dark small">EMAIL ADDRESS</label>
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i data-feather="user"></i></span>
                          </div>
                          <input type="email" class="form-control" placeholder="e.g. Jane Doe">
                        </div>
                        <small class="form-text text-muted">We'll never share your email with another organization.</small>
                      </div>

                      <div class="mt-4">
                        <label class="font-weight-bold text-dark small">PASSWORD</label>
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i data-feather="lock"></i></span>
                          </div>
                          <input type="email" class="form-control" placeholder="Password">
                        </div>
                      </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>