= form_with model: story, id: "story" do |f|
  = f.hidden_field :user_id, value: current_user.id

  / Default booklet and language selection should come from the user's profile and stored in a cookie. We might want to consider getting this information
                    from the browser's localization.
  = f.hidden_field :language, value: "english"

  / A story's status is always set to draft when it is saved via a new/edited form.
  / This status is altered by the publish story button/process.
  = f.hidden_field :status, value: "draft"

  .form-group
    = f.text_area :content, class: "form-control", id: "js-my-story-textarea", maxlength: "3000"

  .row.mt-4
    .col-8.actions
      span
        = f.submit "Save", id: "js-froala-save-button", class: "btn btn-primary", tabindex: "-1"

javascript:
    new FroalaEditor('textarea#js-my-story-textarea', {
        placeholderText: 'Type your story here',
        toolbarButtons: [''],
        pastePlain: true,
        attribution: false,
        autofocus: true,
        heightMin: 200,
        htmlAllowComments: false,
        htmlAllowedAttrs: [''],
        htmlAllowedStyleProps: [''],
        htmlAllowedTags: ['p'],
        pasteAllowedStyleProps: [''],
        shortcutsEnabled: [''],
    });