<li class="menu single-menu">
  <a href="<%= story_link %>" class="<%= link_disability_state %>">
    <div class="">
      <i data-feather="book-open"></i>
      <span>Edit Your Story</span>
    </div>
  </a>
</li>