<div class="topbar-nav header navbar" role="banner">
  <nav id="topbar">
    <ul class="navbar-nav theme-brand flex-row  text-center">

      <li class="nav-item theme-text">
        <a href="/" class="nav-link"> My Story Booklet </a>
      </li>
    </ul>

    <ul class="list-unstyled menu-categories" id="topAccordion">

      <li class="menu single-menu active">
        <a href="/">
          <div>
            <i data-feather="home"></i>
            <span>Your Story</span>
          </div>
        </a>
      </li>

      <%= display_story_link_for(current_user) %>
    </ul>
  </nav>
</div>