<div class="card new-story-card" style="border: none;">
  <div class="card-body">
    <div class="story-content">
      <%= render(partial: "stories/form/form", locals: { story: Story.new }) %>

      <p class="font-weight-light text-muted font-italic">Pasting text above will remove formatting.</p>
    </div>
  </div>

  <div class="card-footer">
    <div class="story-buttons">
      <%= render(partial: "stories/form/form_buttons") %>
    </div>
  </div>
</div>


