<h3>This is your story, share it.</h3>

<% list_story_ids_for(current_user).each do |id| %>
  <p class="mt-3">Are you ready? Click here to <a href="" class="font-weight-bold badge badge-info">publish your story below</a></p>
  <div class="card mt-4">
    <div class="card-body">
      <div class="story-title">
        <div class="mb-3 font-weight-bold lead text-black"><%= display_story_title(id) %></div>
      </div>

      <div class="story-content">
        <%= raw Story.find_by_id(id).content %>
      </div>
    </div>

    <div class="card-footer">
      <div class="story-buttons d-flex align-middle">
        <%= link_to("Edit", edit_story_path(id), class: "btn btn-primary") %>
        <%= link_to("Delete", story_path(id), method: :delete, class: "text-danger ml-auto align-self-center", data: {confirm: "Are you sure?"}) %>
      </div>
    </div>
  </div>
<% end %>