/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "cork/bootstrap";
@import "perfect-scrollbar";
@import "bootstrap-select.min";
@import "cork/cork";
@import "toastr";

// adds padding to both the left and right of a container
// this might not be a necessary style
.layout-side-spacing {
  padding-left: 20px;
  padding-right: 20px;
}

// some links look do not look links and need to be styled accordingly
a {
  color: #1b55e2;

  &:hover {
    color: #1b55e2;
    text-decoration: underline;

    &.disabled {
      > *, span, svg {
        color: gray !important;
      }
    }
  }

  &.disabled {
    > *, span, svg {
      color: gray !important;
    }
  }
}

// reverse targeting of navigation links
nav a:hover {
  text-decoration: none;

  span {
    text-decoration: none;
  }
}


// Devise adds this div wrapper around inputs. This wrapper wreaks havoc on the input and label styles for input groups.
.field_with_errors {
  position: relative;
  -webkit-box-flex: 1;
  flex: 1 1 0;
  min-width: 0;
  margin-bottom: 0;

  input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}