body.pages {
  #landing-page {
    background-image: url(asset_path("megha-ajith-birds-background-unsplash.png"));
    background-position: center;
    background-size: cover;


    #hero-container {
      background: image_url("landing-bg.svg") no-repeat center right;
      background-size: contain;

      background: image_url("landing-bg.svg") no-repeat left top;
      background-size: auto;
    }

    @media (min-width: 1200px) {
      #hero-container {
        height: 450px;
      }
    }

    @media (min-width: 992px) and (max-width: 1199.98px) {
      #hero-container {
        height: 400px;
      }
    }

    @media (min-width: 768px) and (max-width: 991.8px) {
      #hero-container {
        height: 350px;
      }
    }

    @media (max-width: 767.8px) {
      #hero-container {
        height: 300px;
      }
    }

    #soaring-booklet {
      opacity: 0.9;

      &:hover {
        border: 2px solid #3c405c;
        opacity: 1;
      }
    }
  }
}
